<style type="text/css">
h1 {
    font-size: x-large;
    font-weight: bold;
}
h2 {
    font-size: large;
    font-weight: bold;
}
a {
    color: #f93;
}
a:visited {
    color: #bbb;
}
a:hover {
    color: :#e58a2e;
}
a:active {
    /* a:active stands for used link */
    color: #ffa64d;
}
a:link {
    color: blue;
}
a.nav {
    /* link with nav class - it's a pseudoclass */
    font-weight: bold;
    text-decoration: none;
}
a.nav:hover, a.nav:active {
    background-color: yellow;
    color: red;
}
a.nav:link, a.nav:visited {
    color: green;
}
a {
    border-left-width: 3px;
    border-left-style: dotted;
    border-left-color: green;
}
</style>